.achilles {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30px;
    height: 60px;
  }
  
  .head-achilles {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  .body-achilles {
    width: 6px;
    height: 30px;
    background-color: #000;
  }
  
  .legs-achilles {
    width: 6px;
    height: 20px;
    background-color: #000;
    margin-top: 5px;
  }
  